.footer > .col-6 {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  padding: 0.7em 1em;
}

.row > .list-unstyled {
  text: black;
}

.copyright > p {
  text-align: center;
  color: grey;
}
