.navbar-lewagon {
  justify-content: space-between;
  background: rgb(213, 205, 205);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-black {
  color: #000;
  letter-spacing: 3px;
}

#cart-count {
  position: relative;
  right: 14px;
  bottom: -2px;
  font-size: 0.5em;
}

.categories-bar > .nav-link:hover {
  border-bottom: 4px solid black;
  color: #ff5826;
  letter-spacing: 3px;
}

.categories-bar > .nav-link {
  border-bottom: 4px solid transparent;
  letter-spacing: 3px;
}

.navbar-nav > .black {
  background-color: black;
}
