.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#cart-count {
  position: relative;
  right: 14px;
  bottom: -2px;
  font-size: 0.5em;
}
